.box
{
	font-size:60px;
	color: blue;
	text-align: center;
	padding:10px;
	background-color: grey;
	border-bottom:2px solid black;
}

#window
{
	border: 2px;
	margin-right: auto;
    margin-left: auto;
    display: block;
}

.box
{
	height: 100px;
}

.title-text
{
	align-content: middle;
}
